.header {
  padding: 10px 0;
  background-color: #22252E; 

  @include onTablet {
    padding: 12px 38px 12px 20px;
  }

  &--relative {
    position: relative;
  }

  &_list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 32px;

    @include onTablet {
      display: grid;
      justify-content: space-evenly;
      row-gap: 8px;
    }
  }

  &_item {
    font-size: $headerFontSize;
    line-height: $headerLineHeight;

    &--protected {
      display: flex;
      align-items: center;
      color: #FF8D00;
    }

    &--info {
      color: #889099;

      @include onTablet {
        grid-row: 2;
      }
    }

    &_i {
      margin-right: 5px;
    }

    &--learn-more {
      @include onTablet {
        text-align: right;
        padding-right: 10px;
      }
    }
  }

  &_link {
    color: #fff;
  }

  &_cross_i {
    position: absolute;
    top: 50%;
    right: 21px;

    transform: translateY(-50%);

    @include onTablet {
      top: 15px;
      right: 15px;

      transform: translate(0);
    }
  }
}